@import './colours.scss';
@import './layout.scss';
@import './helper-classes.scss';

/* Defaults */
a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: #007bff; // bootstrap link default
		text-shadow: 1px 1px 1px #007bff;
	}

	img {
		transition: transform 200ms;

		&:hover {
			transform: rotate(30deg);
		}
	}
}


